.cateItem-container{
    flex: 1;
    height: 70vh;
    justify-content: space-between;
    position: relative;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    color:white;
    margin-bottom: 20px;
}

.btn{
    color: black;
    border: none;
    padding: 10px 25px;
    background-color: white;
    /* color: gray; */
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}