.slide-container{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.ImgContainer{
    height: 100%;
    flex: 1;
}

.InfoContainer{
    flex: 1;
    padding: 50px;
}

.title{
    font-size: 70px;
}

.Desc{
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px; 
}

.btn{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}