

.wrapper{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    flex: 1;
    display: flex;
    align-items: center;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.center{
    flex: 1;
    text-align: center;
}

.language{
    font-size: 14px;
    cursor: pointer;
}

.logo{
    font-weight: bold;
}

.menuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}

.search-container input{
    border: none;
    outline: none;
}
